

html, body {
    background-color: #110710 !important;
    margin: 0;
    padding: 0;
    color: #eee !important;
    min-height: 100%;
}


.header-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 45px;
}

.brand-pink-text {
    color:hotpink;
}

.brand-blue-text {
    color: #228cdb;
}

.brand-white-text {
    color: #eee;
}


.active {
    color: #eee !important;
    /* color: #4CEAAD !important; */
}

.explore_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    /* max-width: 70%; */
}

.content {
    max-width: 70%;
}

.story-block {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    border: darkgrey solid;
    border-radius: 10px;

    padding: 10px;
    margin: 10px;
    
    text-align: center;
}

.story-title {
    color: hotpink;
    font-size: 25px;
}

.story-author {
    font-size: 14px;
    color: #228cdb;
}

.story-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-img {
    /* max-width: 100%; */
    max-height: 200px;
}

.navbar-brand {
    font-size: 35px !important;
    margin-left: 15px;
}

.feature-info {
    font-size: 35px;
}

.explore-title {
    color: hotpink;
}

.explore-author {
    color: #228cdb;
}

.explore-row {
    display: flex;
    align-items: center;
    border: darkgrey solid 1px;
    padding: 10px 2px;
}

.home-welcome {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

:not(.navbar) a{
    /* color: #2CDA9D; */
    color: hotpink;
    text-decoration: none;
}

:not(.navbar) a:hover{
    /* color: #2CDA9D; */
    color: #228cdb;
    text-decoration: none;
}

.about-welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 
.about-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.about-welcome img {
    max-width:40rem;
}

.about-welcome-container .row {
    max-width: 50%;
    margin-top: 15px;
}

.about-Q {
    color: #228cdb;
    font-size: 30px;
}

.about-A {
    color: #eee;
    /* color: hotpink; */
    font-size: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #111;
    
    padding-top: 10px;
    
    position: fixed;
    bottom: 0;
    width: 100%;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}